<% layout('/layout') -%>
<% stylesheet('/stylesheets/dashboard.css')%>
<div class="container-fluid">
  <div class="row row-centered">

    <% for (i in topics) { %>    
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="topic">
          <div class="circle <%= topics[i].title %> <% if(topics[i].answers <= 0){ %>unanswered<% } %>"><%= topics[i]['title'] %></div>
            <div class='lblCircle'>
              <% if(topics[i].questions != 0 && topics[i].answers == topics[i].questions){ %>
                <h4>Section Complete</h4>
                <hr />
                <h4><%= topics[i].stories %> people have told their story.</h4>
                <a href="/forums/<%= topics[i].title %>" class="btn btn-primary">Visit the forum</a>
              <% } else if (topics[i].answers > 0){ %>
                <h4 class="completion"><%= topics[i].answers %> of <%= topics[i].questions %> Questions</h4>
                <p><a href="reorderUnanswered/<%= topics[i].title %>" class="btn btn-primary" type="button">Resume</a></p>
                <hr />
                <h4><%= topics[i].stories %> people have told their story.</h4>
                <p><a href="/forums/<%= topics[i].title %>" class="btn btn-primary">Visit the forum</a></p>
              <% } else { %> 
                <h4 class="completion"><%= topics[i].answers %> of <%= topics[i].questions %> Questions</h4>
                <a href="reorderUnanswered/topics[i].title" class="btn btn-primary">Start questionnaire</a>
                <hr />
                <h4><%= topics[i].stories %> people have told their story.</h4>
                <p><a class="btn disabled btn-primary">Visit the forum</a></p>
                <p class="disabledx hint">Answer questions to read others' stories in the forum (<a href="">Why?</a>)</p>
              <% } %>
            </div>
          </div>
        </div>
      <% } %> 
  </div>
</div>

