<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/bootstrap-tour-0.9.3/build/js/bootstrap-tour.min.js"></script>
    <%-scripts%>
    <!-- styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-tour-0.9.3/build/css/bootstrap-tour.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%-stylesheets%>
    <style>
      <%-blocks.style%>
    </style>
  </head>
  <body id="body">
    <!-- Fixed navbar -->
    <div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WhereWeBreathe</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <!--these 'nav-x' ids are for the welcome tour...-->
          <li id='nav-h'><a class='aNav' href="/">Home</a></li>
            <!--<li id='nav-q'><a class='aNav' href="/questionnaire">Questionnaire</a></li>
            <li id='nav-graphs'><a class='aNav' href="/narratives">Forums</a></li>-->
            <li id='nav-kb'><a class='aNav' href="/knowledge-base">Knowledge base</a></li> 
            <li id='nav-about'><a class='aNav' href="/about">About</a></li>   
            <li id='nav-download'><a class='aNav' href="/download">Download Data</a></li>                     
          </ul>
          <ul class="nav navbar-nav navbar-right"> 
            <% if(!user){ %> 
            <li>
              <button class="btn btn-primary navbar-btn" id="btnJoin">Join</button>
            </li> 
            <% } %> 
            <!--<% if(user){ %>
              <li> 
                <button class="btn btn-primary navbar-btn" id="btnQuestionnaire"> questions left</button>
              </li> 
          <% } %>  -->
            <li class="dropdown">
                <!--Default buttons with dropdown menu-->
                <div>
                    <button id="login" data-toggle="dropdown" class="btn btn-default dropdown-toggle navbar-btn">
                      <!--set login/user button accordingly-->
                <% if(!user){ %>
                      Login 
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" id="divLogin">
                      <form role="form" action="/login" method="post" >
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" name="email" placeholder="you@email.com" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="password">Password:</label>
                          <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      <br/>
                      <a href="/forgotpass">forgotten password</a>
                    </div>                          
                <% } %>
                <% if(user){ %>                         
                      <i class="fa fa-user"></i>
                      <%= user %>
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu userMenu">
                        <ul class="nav">
                          <li>
                            <a href="/privacy">Change privacy settings</a>
                          </li>
                          <li>
                            <a href="/resetpass">Change password</a>
                          </li>
                          <li>
                            <a id='logout' href="#" onclick="log_out()">logout</a>
                          </li>
                        </ul>
                    </div>                           
                <% } %>
                     
                </div>                
            </li> 
                   
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  <div class="content">
    <div class="container theme-showcase" role="main">
      <div class="page-header">
      <%-blocks.header%>
        <h1 id="title"><%= title %></h1>
      </div>
    <%-body -%>
    </div><!-- end .container theme-showcase -->
  </div><!-- end content -->
  <div class="footer">
    <div class="container">
      <!--<div class="col-md-6 col-xs-6 "></div>
      <div class="col-md-6 col-xs-6 "></div>-->
      This is a project by Public Lab; this website is <a href='https://github.com/publiclab/wherewebreathe'>open source</a> software.
    </div>
  </div>
  </body>
  <script>
      function log_out(){
      $.post('/logout', function(status){
      console.log(status);
      if(status == "logged out"){
        //window.location=window.location;// like location.reload, but without annoying "to display this page FF must send info that ....." message ... doesnt work in chrome. reload message no longer a prob...
        window.location.reload()
      }
      else{
      console.error("logout failed");
      }
      
      });
    }
  $(function(){
    <% if(message){ %>
      //if errmessage, show message
      handleMsg('<%=message.text%>', '<%= message.msgType %>')
      console.log('<%=message.text%>')
    <% } %>
    //$('#logout').click(function(){logout();})
    $('#btnJoin').click(function() { window.location = '/register'; })
    
    //highlight in menu which page active page
    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="'+ url +'"]').parent().addClass('active');

    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
  })//end on ready 
  
  function handleMsg(message, type, pos){
    var alertType = type || "alert-danger";
    //a css selector of the element the alert will be positioned after
    var alertPos = pos || ".page-header" 
    $( ".alert" ).remove();
    var html = '<div id="layoutMsg" class="alert '+alertType+'" role="alert">'+message+'</div>'
    $( html ).insertAfter( alertPos );
    //if($(window).height() <= 400){
      $('html, body').animate({
      scrollTop: $("#layoutMsg").offset().top - $('#menu').outerHeight()}, 600);
    //}
  }  
  </script>
</html>
