<% layout('layout') -%>
<% script('/javascripts/flot/jquery.flot.min.js'), script('/javascripts/flot/jquery.flot.categories.min.js') -%>
<% stylesheet -%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= question %></h3>
  </div>
  <div class="panel-body"> 
    <form id="frmAns" accept-charset="utf-8">
      <div class="form-group">
        <%if (qType == "drop"){%>
        <select class="form-control" name="answer">
            <% for(var i=0; i<answers.length; i++) {%>
            <option value="<%= answers[i].text %>"><%= answers[i].text %></option>
            <% } %>
        </select>
        <% } 
        if (qType == "text"){%>
          <label for="answer"><%= label %></label> 
          <input class="form-control" type="text" name="answer">
        <% } 
        if (qType == "num"){%>
          <label for="answer"><%= label %></label> 
          <input class="form-control" type="text" name="answer">
        <% } 
        if (qType == "radio"){%>
          <% for(var i=0; i<answers.length; i++) {%>
            <label class="radio">
              <input type="radio" name="answer" value="<%= answers[i].text %>" 
               <% if (answers[i].nextQ){ %>
                data-nextq="<%= answers[i].nextQ %> "
                <% }%>
              >
              <%= answers[i].text %>
              
              <%if(answers[i].text =="Other:"){%>
                <input type="text" name="othAns">   
              <% } %>
            </label>
          <% } %>
        <% } %>      
        <input type="hidden" name="qid" value="<%= qid %>">
      </div>
      <div class="pull-right">
        <input  class="btn btn-primary" type="submit" value="Submit">
        <!--skip doesnt currently keep track of questions skipped-->
        <input class="btn btn-default" type="button" value="Skip" onclick="window.location.href ='/questionnaire/<%= qid %>';"> 
      </div>
    </form>
  </div>
</div>
  <script>
    //console.log("<%= qid %>");
    $('#frmAns').submit(function(event){
      //prevent actual submit, but HTML5 validation triggers
      event.preventDefault();
      var options = {qid: "<%= qid %>"};
      //if the input is a radio, get val
      var input = "<%=qType%>"
      console.log(input);
      if(input == "radio"){
        var ans = $('input[name=answer]:checked').val();
        if (ans == "Other:"){
          ans = ans + $('input[name=othAns]').val()
          console.log(ans)
        }
        options['answer'] = ans
      }
      else if(input == "drop"){
        options['answer'] = $("[name=answer] option:selected").text();
      }
      else{
        options['answer'] = $('input[name=answer]').val()
      }
      //if the particular answer has a follow up question, send the nextq variable so that the server can redirect to it upon saving the answer
      if($('input[name=answer]:checked').data("nextq")){
        var nextQ = $('input[name=answer]:checked').data("nextq");  
        options['nextq']= nextQ;     
      }
      console.log(options);
      $.post( '/answer', options)
          .fail(function(response) {
          $( ".alert" ).remove();
          var html = '<div class="alert alert-danger" role="alert">'+response.responseText+'</div>'
          $( html ).insertAfter( ".page-header" );
        })
        .done(function(response) {       
          //if response isnt 'OK', it should contain a number for the next conditional question
          if(response !== "OK"){
            console.log(response)
            window.location.replace("/questionnaire/0/"+response)
          }
          else{
          window.location.replace("/questionnaire ")
          }
        });
    });
  </script>
