<% layout('layout') -%>
<% script('http://d3js.org/d3.v3.min.js') -%>
<% stylesheet -%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Enter a new cat</h3>
  </div>
  <div class="panel-body"> 
    <form action="/create" method="post" accept-charset="utf-8">
      Name<input type="text" name="txtName" />
      Weight<input type="number" name="numWeight" />
      Breed<input type="text" name="txtBreed" />
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List of Cats</h3>
  </div>
  <div class="panel-body"> 
    <% cats.forEach( function( cat ){ %>
  <p><%= cat.name %>, <%= cat.weight %>, <%= cat.breed %></p>
<% }); %>
<% aveWeight.forEach( function( breed ){ %>
  <p><%= breed._id %>, <%= breed.weightAvg %>kgs</p>
<% }); %>
  <script>console.log("<%= aveWeight %>");
  var aveW = "fds";
  </script>
  </div>
</div>

